body {
  min-height: 100vh;
  color: #fff;
  background: #56519d;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}


input {
  font-family: museo-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}
em {
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
}

h1 {
  font-family: museo-sans-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 em {
  font-style: italic;
}

.euro {
  padding: .2rem .3rem;
  padding: .5rem;
  line-height: 4rem;
  font-size: 3rem;
  border-radius: .5rem;
  border: none;
  max-width: 20rem;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  display: block;
  margin: 0 auto;
}

.goodbutton {
  background-color: aqua;
}